<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>{{ title }}</h1>
      <p>This starter kit runs on local, playground, and mainnet deployments, showcasing the classic store and read functionality.</p>
      <p>Read more about how this works in our related blog post on <a href="https://blog.icacademy.at/blog/angular-ic-starter" target="_blank">IcAcademy</a>.</p>

      <div>
        <p>Check stored name:</p>
        <button (click)="getLastName()">What was the last name that was stored?</button>
      </div>

      <div>
        <p>Give me a name to store: </p>
        <input type="text" id="name" name="name" #name>
        <button (click)="updateLastName(name.value)">save</button>
      </div>

      <div>
        <p>{{ ic_response }}</p>
      </div>
    
    </div>    
  </div>
</main>

<router-outlet />
